@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');

@font-face {
    font-family: 'Microsoft-Yahei-Regular';
    src: url('../fonts/Microsoft-Yahei-Regular.ttf');
}

body{
    font-family: 'Microsoft-Yahei-Regular','Glegoo', serif;
}

.ht-nav{
    border-top: 1.5rem solid #f26722;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.ht-banner{
    margin-top: 8.6rem;
    background: #993809;
}

.ht-icons{
    background: #f26722;
}

.ht-text-primary{
    color:#f26722;
}