@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');

@font-face {
    font-family: 'Microsoft-Yahei-Regular';
    src: url('../fonts/Microsoft-Yahei-Regular.ttf');
}

:root {
    --color-primary: #f26722;
    --color-secondary: #993809;
    --color-white: #ffffff;
}

body {
    font-family: 'Microsoft-Yahei-Regular', 'Glegoo', serif;
}

.ht-nav {
    border-top: 1.5rem solid var(--color-primary);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.ht-banner {
    margin-top: 8.6rem;
    background: var(--color-secondary);
}

.ht-icons {
    background: var(--color-primary);
}

.ht-text-primary {
    color: var(--color-primary);
}

.ht-footer-nav a {
    text-decoration: none;
    color: var(--color-white);
}

.ht-footer-nav a:hover {
    text-decoration: underline;
    color: var(--color-primary);
}